# Local/private config goes in the include
[include]
    path = ~/.config/git/gitconfig.sec

[core]
    editor = vim
    excludesfile = ~/.gitignore

# From there, sections are in alphabetic order

[alias]
    co = "!f() { git checkout \"$@\" && git stash list | grep \"$1:\"; }; f"
    last = log -1 HEAD
    st = status
    uncommit = reset --soft HEAD~
    unstage = reset HEAD --
    lg = log --graph --abbrev-commit --decorate --date=relative --all

[difftool]
    prompt = false

[gui]
    # Remove `git gui` pop-up warning
    gcwarning = false

[help]
    autocorrect = 1

[mergetool]
    keepBackup = false
    prompt = false

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool "meld"]
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX

[pull]
    rebase = true

[push]
    default = simple

[credential]
    helper = cache --timeout=3600

