**/sec/**/*.zsh
**/sec/**/*.zshenv
*.sec*
sec.conf
.DS_Store
!README.md
*.log
!*example

taskwarrior/.config/task/certs/*

*.key
*.kbx
*~
trustdb.gpg
.netrwhist
*.swp
*.swo
mutt/.config/mutt/aliases.txt

.pypirc
