**/sec/**/*.zsh
**/sec/**/*.zshenv
*.sec*
sec.conf
.DS_Store
/bin/
!README.md
*.log
!*example

# packages that should not be pushed on github (local backup only)

taskwarrior/.config/task/certs/*
vim/.vim/plugged/*
