version: 1

gateway:
  listen:
    host: 0.0.0.0
    port: 7999

{% set all_profiles = mcp_services_config.values() | map(attribute='profiles') | sum(start=[]) %}

profiles:
  active:
{% for p in all_profiles %}
    - "{{ p }}"
{% endfor %}

servers:
{% for name, cfg in mcp_services_config.items() %}
  {{ name }}:
    transport: stdio
    command:
      - "docker"
      - "exec"
      - "-i"
      - "{{ name }}"
{% for c in cfg["command"] %}
      - "{{ c }}"
{% endfor %}
{% endfor %}
