version: v0.4.0

listeners:
  - name: {{ plano_listener_name }}
    type: model
    address: {{ plano_listener_address }}
    port: {{ plano_listener_port }}
    timeout: {{ plano_listener_timeout }}

model_providers:
{% if plano_enable_local_provider | bool %}
  - model: {{ plano_local_model }}
    access_key: {{ plano_local_access_key }}
    base_url: {{ plano_local_base_url }}
    default: true
{% endif %}
{% if plano_enable_openai_provider | bool %}
  - model: {{ plano_openai_model }}
    access_key: {{ plano_openai_access_key }}
{% endif %}
{% if plano_enable_anthropic_provider | bool %}
  - model: {{ plano_anthropic_model }}
    access_key: {{ plano_anthropic_access_key }}
{% endif %}

model_aliases:
{{ plano_model_aliases | to_nice_yaml(indent=2) | indent(2, true) }}

routing_preferences:
{{ plano_routing_preferences | to_nice_yaml(indent=2) | indent(2, true) }}
