# Local/private config goes in the include
[include]
  path = ~/.config/git/includes.conf
  path = ~/.config/git/local.conf

[core]
  excludesfile = ~/.gitignore

[alias]
  ff = flow feature
  wip = !git add --all; git ci -m WIP
  co = checkout
  blame = blame -w -C -C -C
  wdiff = diff --word-diff
  cob = checkout -b
  last = log -1 HEAD
  st = status
  fpush = push --force-with-lease
  stash = stash --all
  save = commit -a
  aliases = config --get-regex alias
  loga = log --pretty=format:'%C(yellow)%h %<(24)%C(red)%ad %<(18)%C(green)%an %C(reset)%s' --date=local --max-count=10
  lg = log --graph --abbrev-commit --decorate --date=relative --all
  changelog = log origin..HEAD --format='* %s%n%w(,4,4)%+b'
  glg = log --oneline --decorate --all --graph
  undo = reset HEAD~1 --mixed
  correct = reset --hard
  uncommit = reset --soft HEAD~
  done = push origin HEAD
  unstage = reset HEAD --
  del = branch -D
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  cleanup-merged = "!f(){ git fetch && git branch --merged | grep -v '* ' | xargs git branch --delete; };f"
  amend = commit --amend --reuse-message=HEAD
  fixup = rebase -i HEAD~2

[difftool]
  prompt = false

[gui]
  # Remove `git gui` pop-up warning
  gcwarning = false

[help]
  autocorrect = 1

[mergetool]
  keepBackup = false
  prompt = false

[pull]
  rebase = true

[push]
  default = simple

[rebase]
  autoStash = true

[user]
  useConfigOnly = true

[init]
  defaultBranch = main
  templateDir = ~/.config/git/project

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[sendemail]
  annotate = yes

[rerere]
  enabled = true
  autoUpdate = true

[branch]
  sort = -committerdate

[column]
  ui = auto

[commit]
  template = ~/.config/git/commit-message
