window {
  background-color: transparent;
}

.quote-container {
  background-color: transparent;
  margin-bottom: 40px;
  padding: 0 24px;
  min-width: 600px;
}

.quote-label {
  color: rgba(255, 255, 255, 0.38);
  font-family: "Inter", "SF Pro Display", "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
