# vim: filetype=muttrc

#
#
# make sure that you are using mutt linked against slang, not ncurses, or
# suffer the consequences of weird color issues. use "mutt -v" to check this.

# custom body highlights -----------------------------------------------
# highlight my name and other personally relevant strings
color body          yellow          default         "(ryan|jennings|ryjen)"
# custom index highlights ----------------------------------------------
# messages which mention my name in the body
color index         yellow          default         "~b \"ryan|ryjen|jennings\" !~N !~T !~F !~p !~P"
